html, body {
  border: 1px solid #000000;
  width: 100%;
  margin: 0px; }

.container {
  width: 100%;
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px; }
  .container .otherclass {
    border: 2px; }
    .container .otherclass .thirdclass {
      background-color: #0D47A1; }

/*# sourceMappingURL=test.css.map */
