.bg-blue{
  background-color: #00acc1;
}

nav,a
.white-text{
  background-color: white;
}

.imagecarousel{
  padding: 5px;
  width: 100%;
  border: 1px solid grey;

}

.devider{
  width: 100%;
  border-bottom: 1px dashed #00acc1;
}

.TitreBlue {
  background-color: #00acc1;
  color: white;
  padding: 10px;


}



.card{
  background-color: #d7d7d7;
  border: 1px solid grey;
  border-radius: 0;
  h4{
    color: #00acc1;
    font-size: 20px;
  }

  a{
    color: #00acc1;
    &:after{
     content: url("../img/arrow_bullet.png");

    }

  }

}


.jj {

  margin-left: 45px;
  margin-top: -45px;
  text-align: left;
  font-size: 15px;


}

.jj span{
 float: right;

}

.alltweets{
  float: right;
  background: #1fc9d3;
  width: 80px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.bird{

}