simona {
  width: 100%;
    div{
      width: 80%;
      background-color: $primary-color;
      border: 1px solid purple;
      text-transform: uppercase;
      margin-left: 30px;

    }
}

body{
  background-color: #1b6d85;
}

#logo  {
  margin-left: 30px;
  background-color: #7b7b7b;
  padding: 5px;
}

.alert{
  margin-left: 20px;
  padding: 10px;
  width: 70%;
  border: 1px solid $BrError;
  margin-top: 5px;
  margin-bottom: 5px;

  &.alert-Success{
    color: white;
    background-color: #7b7b7b;

  }
  &.alert-Danger{
    color: darkred;
    background-color: grey;


  }
  &.alert-Info{
    color: green;
    background-color: white;

  }
  &.alert-Warning{
    color: #300a57;
    background-color: $BgError;

  }
}