#commune{
    box-sizing: border-box;
}
#completion{
    border-radius: 5px;
    border:1px solid #CCCCCC;
    padding:5px;
    position:absolute;
    background-color: #FFFFFF;
    box-sizing: border-box;
}
#completion ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
#completion ul li{
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
#completion ul li:hover{
    background-color: #EEEEEE;
}