html,body{
    position: absolute;
}
.valid{background-color: lime}
.invalid{background-color: pink}
.error{
    background-color: pink;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}