@keyframes animName {
  from {
    left: 93%;
    background-color: #00bcd4;
  }
  to {

    left: 0;
    //transform: rotate(360deg);
    background-color: #00C853;
  }


}

@keyframes animNamesteps {
  0% {
    color: white;
    left: 90%;
    background-color: #00bcd4;
  }

  25%{
    left:0;
    //right: 25%;
    transform: rotate(360deg);
    background-color: #00C853;
  }

  100%{
    color: black;
    //right: 100%;
    transform: rotate(360deg);
  }

}

@-webkit-keyframes animName {
  from {
    left: 100%;
    background-color: #00bcd4;
  }
  to {

    left: 0;
    //transform: rotate(360deg);
    background-color: #00C853;
  }


}

.animated{
  margin: 10px;
  position: absolute;
  //background-color: #7a43b6;
  animation-name: animName;
  transform: rotate(360deg);
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
  -webkit-animation-name: animNamerotaion;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 3s;

}

.animation2{
  position: absolute;
  animation-name: animNamerotate;
  animation-duration: 7s;
  animation-delay: 5s;
  -webkit-animation-name: animNamerotate ;
  -webkit-animation-delay: 5s;
  -moz-animation-name: animNamerotate ;
  -moz-animation-duration: 7s;



}

.tran{
  width: 100px;
  height: 100px;
  background-color: #0e09c1;
  //-o-transition: width 5s;
  //-moz-transition: width 5s;
  //-webkit-transition: width 5s; /*Safari*/
  //transition: width 5s linear,background-color 2s ease 3s;
  -webkit-transition: width 2s, height 2s,
  -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.tran:hover{
  background-color: yellow;
  width: 500px;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);

}

@keyframes animNamerotaion {

  from {
    left: 90%;
    background-color: #419641;
  }
  to {
    left: 10%;
    //transform: rotate(360deg);
    background-color: #00C853;
  }


}


@-webkit-keyframes animNamerotaion {

  from {
    left: 90%;
    background-color: #419641;
  }
  to {
    left: 10%;
    //transform: rotate(360deg);
    background-color: #00C853;
  }


}


//
//keyframes animName {
//  0% {
//    background-color: #0e09c1;
//  }
//  25% {
//    background-color: #00C853;
//  }
//  100% {
//    background-color: #00C853;
//  }
//
//}



//@-webkit-keyframes  {
//  for safari,instead of @keyframes
//}


#div1{animation-timing-function: linear;
top:0px;}
#div2{animation-timing-function: ease;top:20px;}
#div3{animation-timing-function: ease-in;top:40px;}
#div4{animation-timing-function: ease-out;top:60px;}
#div5{animation-timing-function: ease-in-out;top:80px;}


.photo{
  margin-left: 250px;
}


.photo > ul>li{
  display: inline-block;
}

.demo-2 {
  position:relative;
  width:300px;
  height:200px;
  overflow:hidden;
  float:left;
  margin-right:20px;
  background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
  color:#fff;
  padding:10px;
  left:-20px;
  top:15px;
  position:relative
}
.demo-2 p {
  font-family:'Lato';
  font-size:12px;
  line-height:18px;
  margin:0

}
.demo-2 h2 {
  font-size:20px;
  line-height:24px;
  margin:0;
  font-family:'Lato'
}
.effect img {
  position:absolute;
  left:0;
  bottom:0;
  cursor:pointer;
  margin:-12px 0;
  -webkit-transition:bottom .3s ease-in-out;
  -moz-transition:bottom .3s ease-in-out;
  -o-transition:bottom .3s ease-in-out;
  transition:bottom .3s ease-in-out
}
.effect img.top:hover {
  bottom:-96px;
  padding-top:100px
}
h2.zero,p.zero {
  margin:0;
  padding:0
}








