#wrapper{
    width:80%;
    margin:0 auto;
}
#back_to_top{
    width:50px;
    height: 50px;
    border-radius:5px;
    position:fixed;
    bottom:10px;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    font-weight:bold;
    text-align:center;
    font-size:50px;
}

#back_to_top:hover{
    cursor:pointer;
}