.overlay{
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    text-align:center;
    padding-top: 300px;
}

.overlay img{
    width:100px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-sizing:border-box;
}